* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branding-color: #89a28c;
  --secondary-color: #dfdfdf;
  --heading-font-family: "misto";
  --default-font-family: "Poppins", sans-serif;
}

@font-face {
  src: url(../fonts/misto.ttf);
  font-family: "misto";
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 80px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: lighter;
  font-weight: 24px;
  line-height: 30px;
}

.logo {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.logo:hover {
  color: var(--branding-color);
}

.hero {
  text-align: center;
  padding: 60px 20px;
  font-size: 16px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
  color: black;
  line-height: 1.5;
}

.hero h2 {
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 1.5;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  color: var(--branding-color);
  background-color: white;
  border-color: var(--branding-color);
}

.project-description {
  padding: 120px 60px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav li.active a:hover {
  color: white;
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background-color: #f9f9f9;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--branding-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--branding-color);
  background-color: white;
}

.respository-link {
  text-decoration: none;
  color: black;
}

.respository-link:hover {
  color: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 44px;
  }

  p {
    font-size: 18px !important;
  }

  .btn {
    font-size: 18px;
  }

  nav a {
    font-size: 14px;
  }
  .hero {
    padding: 60px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .contact-form {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}

.viktoria-picture {
  border-radius: 10px;
}

.project-picture {
  max-height: 266px;
  max-width: 253;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.project-picture:hover {
  opacity: 0.8;
}

.project-link {
  font-weight: bolder;
  transition: all 100ms ease-in-out;
  text-decoration: none;
  color: var(--branding-color);
}

.project-link:hover {
  color: white;
  cursor: pointer;
}

.message-input {
  border-radius: 3px;
  border-color: white;
  height: 150px;
  width: 300px;
}

.email-input {
  width: 300px;
  border-radius: 3px;
  border-color: white;
}

form {
  width: 90%;
  max-width: 600px;
}

.contact-form {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

label {
  color: var(--branding-color);
}
